.tingle-modal {
  background-color: rgba(31, 31, 31, 0.4) !important;
  backdrop-filter: none !important;
}

.tingle-modal-box {
  height: 500px !important;
  width: 800px !important;
}

.tingle-modal-box__content {
  padding: 0px !important;
  height: 100% !important;
}

@media (max-width: 800px) {
  .tingle-modal-box {
    width: 100% !important;
    margin-bottom: inherit !important;
    height: 725px !important;
  }
}

@media (max-height: 800px) {
  .tingle-modal-box {
    height: 575px !important;
  }
}

@media (max-width: 540px) {
  .tingle-modal {
    top: auto !important;
    height: 100% !important;
    display: flex !important;
  }

  .tingle-modal__close {
    background: transparent !important;
    right: 1px !important;
    display: flex !important;
    justify-content: end;
    margin-top: 15px !important;
  }

  .tingle-modal__closeLabel {
    display: none !important;
  }
}
